@page "/about"

<div class="bg-white m-5 p-5 shadow-lg">
    <h1 class="theme-color text-xl font-medium mb-3 uppercase">About</h1>

    <p>This app demonstrates features of Blazor in .NET 6.</p>
</div>
