<div class="error">
    Something went terribly wrong!
    <details>
        <summary>Expand for exception</summary>
        @Error
    </details>
</div>

@code {
    [Parameter]
    public Exception Error { get; set; }
}
