.image-editor {
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 15%), 0 4px 6px -2px rgb(0 0 0 / 10%);
}

    .image-editor ::deep canvas {
        position: absolute;
        top: 0;
        left: 0;
        cursor: crosshair;
        max-width: 100%;
    }
